# ============================================================
# requirements.txt — F5-TTS Vietnamese Subproject
# ============================================================

numpy<=1.26.4
tqdm>=4.65.0
pandas>=2.0
openpyxl>=3.1
requests>=2.31
librosa>=0.10
soundfile>=0.12
pydub
torch==2.1.0
torchaudio==2.1.0
accelerate>=0.33.0
safetensors
transformers
transformers_stream_generator
datasets
huggingface_hub
ema_pytorch>=0.5.2
hydra-core>=1.3.0
jieba
pypinyin
tomli
torchdiffeq
vocos
wandb
x_transformers>=1.31.14
cached_path
click
gradio>=3.45.2
bitsandbytes>0.37.0; platform_machine != "arm64" and platform_system != "Darwin"
